@page
@model OstatnioSzukaneModel
@{
}
<h2 class="text-center">Ostatnio szukane:</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th class="text-center">Numer</th>
        <th class="text-center">Wynik</th>
        <th class="text-center">Data</th>
    </tr>
    @foreach (var item in Model.fizzBuzzes)
    {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            Usuń
        </td>
        <td>
            Edytuj
        </td>
    </tr>
    }
</table>