@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User</h1>
    <form method="post">
        <div class="form-row">
            <div class="col">
                <label asp-for="fizzbuzz.Number">Numer:</label><br />
                <input asp-for="fizzbuzz.Number" class="align-self-center" placeholder="Wpisz tutaj" />
                <span asp-validation-for="fizzbuzz.Number" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </div>
        <br />
        @if (Model.fizzbuzz != null && Model.fizzbuzz.Result != null)
        {
                <h4>Otrzymano: @Model.fizzbuzz.Result</h4>
        }
    </form>
</div>